.fieldset {
    height: 180px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.loginBTN {
    width: 500px;
    height: 20%;
    font-size: 1rem;
    background-color: rgb(241, 119, 49);
    border: 0cap;
    border-radius: 5px;
}